
<div class="row">
  <div class="col-md-6 offset-md-3">
  	<% provide(:title, 'Sign up') %>
    <h1>Sign Up</h1>
    
    <%= form_for(@user, url: sign_up_path) do |f| %>
      <%= f.label :name, class: "control-label"%>
      <%= f.text_field :name, class: 'form-control'%>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'%>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control'%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control'%>

      <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>
</div>

<!-- 
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>

<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
 -->